<div class="h-full flex flex-col">
    <app-breadcrumb></app-breadcrumb>
    <mat-tab-group class="flex-1 overflow-y-auto sticky top-0" mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="material-symbols-rounded mr-2">account_circle</mat-icon>
          <span class="font-semibold">Profile</span>
        </ng-template>
        <ng-template matTabContent>
          <div class="flex flex-col h-full">
            <app-customer-profile [customerData]="customerData"></app-customer-profile>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="material-symbols-rounded mr-2">query_stats</mat-icon>
          <span class="font-semibold">Stats</span>
        </ng-template>
        <ng-template matTabContent>
        <div class="flex flex-col h-full">
          <app-customer-stats class="h-full" [customerData]="customerData"></app-customer-stats>
        </div>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="material-symbols-rounded mr-2">sticky_note_2</mat-icon>
          <span class="font-semibold">Notes</span>
        </ng-template>
        <ng-template matTabContent>
        <div class="flex flex-col h-full">
          <app-notes class="h-full"></app-notes>        
        </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>