<div class="grid grid-flow-col auto-cols-max gap-4 px-2 sm:px-0 pb-2 h-full overflow-y-auto overflow-x-auto"  cdkDropListGroup>
    <!-- Column 1: Todo List -->
    @for (grp of groups(); track $index) {
      <div
        cdkDropList
        [cdkDropListData]="grp.tasks"
        (cdkDropListDropped)="drop($event)"
        class="{{grp.collapsed ? 'w-11': 'w-72'}} flex flex-col bg-gray-100 dark:bg-gray-800 shadow rounded-lg py-2 overflow-y-auto duration-300">
        <div
          class="flex mb-2 justify-between items-center px-2 transition-all duration-300 origin-bottom-left"
          [ngClass]="{'rotate-90 -translate-y-10 translate-x-[6px]': grp.collapsed}">
          <h3 class="text-sm font-semibold whitespace-nowrap py-1 px-1.5 rounded-md cursor-pointer border"
          [class]="taskStatus[grp.title]"
             [style]="{color : grp.color, background: grp.bgColor, borderColor: grp.borderColor}">{{grp.title| uppercase}} {{grp.tasks.length}}</h3>
          <div class="flex">
            <div class="flex items-center rounded-full p-1" matRipple [matRippleCentered]="true">
              <mat-icon class="material-symbols-rounded" [class.-rotate-90]="grp.collapsed" [matTooltip]="grp.collapsed ? 'Expand Group' : 'Collapse Group' " (click)="grp.collapsed = !grp.collapsed">{{grp.collapsed ? 'arrow_menu_open' : 'arrow_menu_close'}}</mat-icon>
            </div>
            <div class="flex items-center rounded-full p-1" matRipple [matRippleCentered]="true">
              <mat-icon class="material-symbols-rounded" matTooltip="Add Ticket">add_circle</mat-icon>
            </div>
          </div>
        </div>
        <!-- Task Card -->
        @if (!grp.collapsed) {
          <div class="flex flex-col flex-1 overflow-y-auto px-2 scroll-container">
            @for (task of grp.tasks; track $index) {
              <div cdkDrag class="bg-white dark:bg-gray-900 p-4 rounded-lg mb-4 cursor-pointer relative group" (click)="goToTaskDetails()">
                <p class="text-sm font-semibold mb-2">Search inspirations for upcoming project</p>

                <div class="flex flex-col gap-y-0.5 mb-2" (click)="$event.stopPropagation()">
                  <div
                    class="h-7 flex items-center relative"
                    [matMenuTriggerFor]="assignee"
                  >
                    <mat-icon class="material-symbols-rounded absolute left-0"
                      >person</mat-icon
                    >
                    <div class="pl-8 text-ellipsis overflow-hidden whitespace-nowrap">
                      {{ collaborators[task - 1].value }}
                    </div>
                    <mat-menu #assignee class="max-h-96 overflow-auto">
                      <div
                        (click)="$event.stopPropagation()"
                        class="bg-[#ecedf7] px-2 pb-2 pt-2 -mt-2 border-b dark:border-gray-400/30 sticky top-0 left-0 z-10"
                      >
                        <mat-form-field class="hint-none w-full" appearance="outline">
                          <input type="text" matInput placeholder="Search" />
                        </mat-form-field>
                      </div>
                      @for(item of collaborators; track item.value; let i = $index) {
                      <button mat-menu-item [value]="item">
                        <span class="flex items-center space-x-2">
                          <div class="relative flex items-center space-x-3">
                            <div class="flex-shrink-0">
                              <span
                                class="inline-flex h-8 w-8 p-2 items-center justify-center rounded-full bg-blue-600"
                                [style.backgroundColor]="item.bgColor"
                              >
                                <span
                                  class="text-xs font-medium leading-none text-white"
                                  >{{ item.value | initials }}</span
                                >
                              </span>
                            </div>
                            <div class="min-w-0">
                              <p
                                class="text-sm font-medium text-gray-900 dark:text-gray-200"
                              >
                                {{ item.value }}
                              </p>
                              <p class="truncate font-normal text-xs text-gray-500">
                                {{ item.email }}
                              </p>
                            </div>
                          </div>
                        </span>
                      </button>
                      }
                    </mat-menu>
                  </div>
                  <div class="h-7 flex items-center relative">
                    <mat-icon class="material-symbols-rounded absolute left-0"
                      >date_range</mat-icon
                    >
                    <div
                      class="w-full pl-8 text-ellipsis overflow-hidden whitespace-nowrap"
                      (click)="picker.open()"
                    >
                      <mat-date-range-input [rangePicker]="picker">
                        <input
                          readonly
                          matStartDate
                          datePickerFormat="MMM DD YYYY"
                          placeholder="Start"
                          (click)="picker.open()"
                        />
                        <input
                          readonly
                          matEndDate
                          datePickerFormat="MMM DD YYYY"
                          placeholder="End"
                        />
                      </mat-date-range-input>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </div>
                  </div>
                  <div
                    class="h-7 flex items-center relative"
                    [matMenuTriggerFor]="priority"
                  >
                    <mat-icon
                      [ngStyle]="{ color: priorities[task - 1].color }"
                      class="material-symbols-rounded absolute left-0"
                      >flag_2</mat-icon
                    >
                    <div class="pl-8 text-ellipsis overflow-hidden whitespace-nowrap">
                      <span class="text-gray-800 dark:text-gray-200">{{
                        priorities[task - 1].label
                      }}</span>
                    </div>
        
                    <mat-menu #priority>
                      @for(item of priorities; track item.label; let i = $index) {
                      <button mat-menu-item [value]="i">
                        <span class="flex items-center space-x-0">
                          <mat-icon
                            [ngStyle]="{ color: item.color }"
                            class="material-symbols-rounded"
                            >flag_2</mat-icon
                          >
                          <span class="text-base">{{ item.label }}</span>
                        </span>
                      </button>
                      }
                    </mat-menu>
                  </div>
                </div>

                <div class="flex space-x-2 mb-2">
                  <span class="text-sm px-2.5 py-0.5 rounded font-semibold" [class]="taskStatus[grp.title]">#website</span>
                  <span class="text-sm px-2.5 py-0.5 rounded font-semibold" [class]="taskStatus[grp.title]">#client</span>
                </div>
                <!-- <div class="w-full bg-gray-200 rounded-full h-2 mb-4">
                                                <div class="bg-{{taskStatus[grp.title]}}-500 h-2 rounded-full" style="width: 40%"></div>
                                            </div> -->
                <div class="flex items-center justify-between space-x-2">
                  <div class="flex -space-x-2">
                    <img class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-800"
                      src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/avatar-10.png" alt="Avatar">
                    <img class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-800"
                      src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/avatar-1.png" alt="Avatar">
                  </div>
                  <div class="text-gray-500 text-base flex gap-x-2">
                    <div class="flex items-center"><mat-icon class="material-symbols-rounded">attachment</mat-icon><span class="ms-0.5">8</span></div>
                    <div class="flex items-center"><mat-icon class="material-symbols-rounded">comment</mat-icon><span class="ms-0.5">8</span></div>
                  </div>
                </div>
                <div class="p-0.5 hidden group-hover:flex absolute top-1 right-1 shadow border border-gray-900/10 dark:border-gray-400/30 rounded-lg bg-white dark:bg-gray-800" (click)="$event.stopPropagation()">
                  <button [matMenuTriggerFor]="ticketMenu" mat-ripple class="h-7 w-7 items-center flex justify-center rounded-lg bg-gray-50 dark:bg-gray-800">
                    <mat-icon class="material-symbols-rounded">more_horiz</mat-icon>
                  </button>

                  <mat-menu #ticketMenu="matMenu" [xPosition]="'before'">
                    <button
                      mat-menu-item
                    >
                      <mat-icon class="material-symbols-rounded"
                        >link</mat-icon
                      >
                      <span>Copy Link</span>
                    </button>
                    <button
                      mat-menu-item
                    >
                      <mat-icon class="material-symbols-rounded"
                        >content_copy</mat-icon
                      >
                      <span>Copy ID</span>
                    </button>
                    <button
                      mat-menu-item
                    >
                      <mat-icon class="material-symbols-rounded"
                        >archive</mat-icon
                      >
                      <span>Archive</span>
                    </button>
                    <button
                      mat-menu-item
                    >
                      <mat-icon color="warn" class="material-symbols-rounded"
                        >delete</mat-icon
                      >
                      <span>Delete</span>
                    </button>
                  </mat-menu>
                </div>
              </div>
            }
          </div>
        }
        <!-- Add more task cards as needed -->
      </div>
    }
    <div>
      <button mat-flat-button class="h-6"> <mat-icon class="material-symbols-rounded">add_circle</mat-icon> Add
        Group</button>
    </div>
  </div>