<div class="w-full">
    <div>
      <textarea
        matInput
        #textArea
        placeholder="Task name"
        (keydown.enter)="$event.preventDefault()"
        class="w-full text-xl font-semibold text-gray-800 dark:text-gray-200 bg-transparent px-1 outline-none rounded indent-0 min-h-9 h-9 max-h-40 overflow-auto"
      ></textarea>
    </div>
    <div>
      <div class="flex items-center gap-2 mb-2">
        <mat-icon class="material-symbols-rounded">description</mat-icon>
        <p class="whitespace-nowrap overflow-hidden text-ellipsis">
          Description
        </p>
      </div>
      <app-quill-editor styleClass="min-h-24" [theme]="theme()"></app-quill-editor>
    </div>
    <div class="grid grid-cols-1 sm:gap-y-3 gap-x-5 mt-3">
      <div class="menu-item py-2 sm:py-0 items-center flex gap-2 text-gray-500">
        <mat-icon class="material-symbols-rounded">supervisor_account</mat-icon>
        <div
          class="ml-2 sm:ml-0 ticket_content-width flex-1 flex sm:items-center flex-col sm:flex-row"
        >
          <p
            class="flex-1 min-w-24 whitespace-nowrap overflow-hidden text-ellipsis pb-1 sm:pb-0"
          >
            Reporter
          </p>
          <div
            class="flex-[2] h-10 min-w-40 flex items-center sm:p-1.5 rounded-md"
          >
            <div
              class="block whitespace-nowrap pointer-events-none overflow-hidden text-ellipsis w-full"
            >
              <span class="flex items-center space-x-2">
                <div class="relative flex items-center space-x-3">
                  <div class="flex-shrink-0">
                    <span
                      class="inline-flex h-7 w-7 sm:h-8 sm:w-8 p-2 items-center justify-center rounded-full bg-blue-600"
                    >
                      <span
                        class="text-sm font-medium leading-none text-white"
                        >{{ collaborators[1].value | initials }}</span
                      >
                    </span>
                  </div>
                  <div class="min-w-0">
                    <p class="text-base sm:text-xs font-medium text-gray-800 dark:text-gray-200">
                      {{ collaborators[1].value }}
                    </p>
                    <p
                      class="hidden sm:block truncate font-normal text-xs text-gray-500"
                    >
                      {{ collaborators[1].email }}
                    </p>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-item py-2 sm:py-0 items-center flex gap-2 text-gray-500">
        <mat-icon class="material-symbols-rounded">nest_heat_link_e</mat-icon>
        <div
          class="ml-2 sm:ml-0 ticket_content-width flex-1 flex sm:items-center flex-col sm:flex-row"
        >
          <p
            class="flex-1 min-w-24 whitespace-nowrap overflow-hidden text-ellipsis pb-1 sm:pb-0"
          >
            Status
          </p>
          <mat-form-field class="flex-[2] hint-none min-w-40">
            <mat-select placeholder="Empty" [formControl]="status">
              <mat-select-trigger>
                <button
                  mat-button
                  class="todo-button text-gray-600"
                  [ngStyle]="{ backgroundColor: buckets[status.value].color }"
                >
                  <span class="text-sm font-semibold px-2">{{
                    buckets[status.value].label | uppercase
                  }}</span>
                </button>
              </mat-select-trigger>
              <div
                class="px-2 pb-2 pt-2 -mt-2 border-b dark:border-gray-400/30 bg-inherit sticky -top-2 z-10"
              >
                <mat-form-field class="hint-none w-full" appearance="outline">
                  <input type="text" matInput placeholder="Search" />
                </mat-form-field>
              </div>
              @for(item of buckets; track item.label; let i = $index) {
              <mat-option [value]="i">
                <div class="flex justify-between w-40">
                  <span class="flex items-center space-x-2">
                    <mat-icon
                      [ngStyle]="{ color: item.color }"
                      class="material-symbols-rounded"
                      >radio_button_checked</mat-icon
                    >
                    <span class="whitespace-nowrap">{{
                      item.label | uppercase
                    }}</span>
                  </span>
                </div>
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="menu-item py-2 sm:py-0 items-center flex gap-2 text-gray-500">
        <mat-icon class="material-symbols-rounded">person</mat-icon>
        <div
          class="ml-2 sm:ml-0 ticket_content-width flex-1 flex sm:items-center flex-col sm:flex-row"
        >
          <p
            class="flex-1 min-w-24 whitespace-nowrap overflow-hidden text-ellipsis pb-1 sm:pb-0"
          >
            Assigned to
          </p>
          <!-- <div class="flex-[2] min-w-40 h-10 rounded-md"> -->
          <mat-form-field class="flex-[2] hint-none min-w-40">
            <mat-select
              placeholder="Empty"
              class="h-full"
              [formControl]="assignee"
            >
              <mat-select-trigger #assigneeTrigger class="h-full">
                @if(assignee.value) {
                <span class="flex items-center space-x-2">
                  <div class="relative flex items-center space-x-3">
                    <div class="flex-shrink-0">
                      <span
                        class="inline-flex h-7 w-7 p-2 items-center justify-center rounded-full bg-blue-600"
                        [style.backgroundColor]="assignee.value.bgColor"
                      >
                        <span
                          class="text-sm font-medium leading-none text-white"
                          >{{ assignee.value.value | initials }}</span
                        >
                      </span>
                    </div>
                    <div class="min-w-0">
                      <p class="text-xs font-medium text-gray-900 dark:text-gray-200">
                        {{ assignee.value.value }}
                      </p>
                    </div>
                  </div>
                </span>
                }
              </mat-select-trigger>
              <div
                class="px-2 pb-2 pt-2 -mt-2 border-b dark:border-gray-400/30 sticky -top-2 left-0 bg-inherit z-10"
              >
                <mat-form-field class="hint-none w-full" appearance="outline">
                  <input type="text" matInput placeholder="Search" />
                </mat-form-field>
              </div>
              @for(item of collaborators; track item.value; let i = $index) {
              <mat-option [value]="item">
                <span class="flex items-center space-x-2">
                  <div class="relative flex items-center space-x-3">
                    <div class="flex-shrink-0">
                      <span
                        class="inline-flex h-9 w-9 p-2 items-center justify-center rounded-full bg-blue-600"
                        [style.backgroundColor]="item.bgColor"
                      >
                        <span
                          class="text-sm font-medium leading-none text-white"
                          >{{ item.value | initials }}</span
                        >
                      </span>
                    </div>
                    <div class="min-w-0">
                      <p class="text-sm font-medium text-gray-900 dark:text-gray-200">
                        {{ item.value }}
                      </p>
                      <p class="truncate font-normal text-xs text-gray-500">
                        {{ item.email }}
                      </p>
                    </div>
                  </div>
                </span>
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <!-- </div> -->
        </div>
      </div>
      <div class="menu-item py-2 sm:py-0 items-center flex gap-2 text-gray-500">
        <mat-icon class="material-symbols-rounded">group</mat-icon>
        <div
          class="ml-2 sm:ml-0 ticket_content-width flex-1 flex sm:items-center flex-col sm:flex-row"
        >
          <p
            class="flex-1 min-w-24 whitespace-nowrap overflow-hidden text-ellipsis pb-1 sm:pb-0"
          >
            Collaborators
          </p>
          <!-- <div class="flex-[2] min-w-40 h-10 rounded-md"> -->
          <mat-form-field class="flex-[2] hint-none min-w-40">
            <mat-select
              placeholder="Empty"
              [formControl]="collaborator"
              multiple
            >
              <mat-select-trigger>
                @if(collaborator.value?.length) {
                <div
                  class="block whitespace-nowrap cursor-pointer overflow-hidden space-x-1 text-ellipsis w-full"
                >
                  @for(collabrat of collaborator.value; track collabrat.email;)
                  {

                  <div class="inline-flex flex-shrink-0">
                    <span
                      class="inline-flex h-7 w-7 p-2 items-center justify-center rounded-full bg-blue-600"
                      [style.backgroundColor]="collabrat.bgColor"
                    >
                      <span
                        class="text-xs font-medium leading-none text-white"
                        >{{ collabrat.value | initials }}</span
                      >
                    </span>
                  </div>
                  }
                </div>
                } @else { Empty }
              </mat-select-trigger>
              <div
                class="px-2 pb-2 pt-2 -mt-2 border-b dark:border-gray-400/30 sticky -top-2 left-0 bg-inherit z-10"
              >
                <mat-form-field class="hint-none w-full" appearance="outline">
                  <input type="text" matInput placeholder="Search" />
                </mat-form-field>
              </div>
              @for(item of collaborators; track item.value; let i = $index) {
              <mat-option [value]="item">
                <span class="flex items-center space-x-2">
                  <div class="relative flex items-center space-x-3">
                    <div class="flex-shrink-0">
                      <span
                        class="inline-flex h-9 w-9 p-2 items-center justify-center rounded-full bg-blue-600"
                        [style.backgroundColor]="item.bgColor"
                      >
                        <span
                          class="text-sm font-medium leading-none text-white"
                          >{{ item.value | initials }}</span
                        >
                      </span>
                    </div>
                    <div class="min-w-0">
                      <p class="text-sm font-medium text-gray-900 dark:text-gray-200">
                        {{ item.value }}
                      </p>
                      <p class="truncate font-normal text-xs text-gray-500">
                        {{ item.email }}
                      </p>
                    </div>
                  </div>
                </span>
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <!-- </div> -->
        </div>
      </div>
      <div class="menu-item py-2 sm:py-0 items-center flex gap-2 text-gray-500">
        <mat-icon class="material-symbols-rounded">flag_2</mat-icon>
        <div
          class="ml-2 sm:ml-0 ticket_content-width flex-1 flex sm:items-center flex-col sm:flex-row"
        >
          <p
            class="flex-1 min-w-24 whitespace-nowrap overflow-hidden text-ellipsis pb-1 sm:pb-0"
          >
            Priority
          </p>
          <!-- <div class="flex-[2] min-w-40 h-10 rounded-md"> -->

          <mat-form-field class="flex-[2] hint-none min-w-40">
            <mat-select placeholder="Empty" [formControl]="priority">
              <mat-select-trigger>
                @if(priority.value > -1) {
                <div class="flex items-center space-x-2">
                  <mat-icon
                    [ngStyle]="{ color: priorities[priority.value].color }"
                    class="material-symbols-rounded"
                    >flag_2</mat-icon
                  >
                  <span class="text-gray-800 dark:text-gray-200">{{
                    priorities[priority.value].label
                  }}</span>
                </div>
                } @else { Empty }
              </mat-select-trigger>
              @for(item of priorities; track item.label; let i = $index) {
              <mat-option [value]="i">
                <span class="flex items-center space-x-2">
                  <mat-icon
                    [ngStyle]="{ color: item.color }"
                    class="material-symbols-rounded"
                    >flag_2</mat-icon
                  >
                  <span class="text-base">{{ item.label }}</span>
                </span>
              </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <!-- </div> -->
        </div>
      </div>
      <div class="menu-item py-2 sm:py-0 items-center flex gap-2 text-gray-500">
        <mat-icon class="material-symbols-rounded">sell</mat-icon>
        <div
          class="ml-2 sm:ml-0 ticket_content-width flex-1 flex sm:items-center flex-col sm:flex-row"
        >
          <p
            class="flex-1 min-w-24 whitespace-nowrap overflow-hidden text-ellipsis pb-1 sm:pb-0"
          >
            Tags
          </p>
          <!-- <div class="flex-[2] min-w-40 h-10 rounded-md"> -->
          <mat-form-field class="flex-[2] hint-none min-w-40">
            <mat-select
              placeholder="Empty"
              [formControl]="selectedBadges"
              multiple
            >
              <mat-select-trigger>
                @if(selectedBadges.value) {
                <div
                  class="block whitespace-nowrap cursor-pointer overflow-hidden text-ellipsis w-full"
                >
                  @for(badge of selectedBadges.value; track badge.label;) {
                  <div
                    class="inline-flex items-center px-2 py-0.5 me-2 text-sm text-blue-800 bg-blue-100 font-medium rounded"
                  >
                    {{ badge.label }}
                  </div>
                  }
                </div>
                }
              </mat-select-trigger>
              @for(item of badges; track item.label; let i = $index) {
              <mat-option [value]="item">
                <div class="flex justify-between w-40">
                  <span class="flex items-center space-x-2">
                    <mat-icon class="material-symbols-rounded">sell</mat-icon>
                    <span>{{ item.label }}</span>
                  </span>
                </div>
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <!-- </div> -->
        </div>
      </div>
    </div>

    <div class="my-3 border border-gray-900/10 dark:border-gray-400/30 rounded-lg">
      <div
        class="flex {{
          isSource() ? 'border-b' : ''
        }} border-gray-900/10 dark:border-gray-400/30 justify-between p-2 gap-x-1 cursor-pointer text-gray-500"
        (click)="isSource.set(!isSource())"
        matTooltip="Click to view more details"
      >
        <div class="flex gap-x-1">
          <mat-icon class="material-symbols-rounded menu-caret"
            >trip_origin</mat-icon
          >
          <h3 class="text-base">Source</h3>
        </div>
        <mat-icon
          class="material-symbols-rounded menu-caret"
          [@rotatedState]="isSource()"
          >arrow_drop_down</mat-icon
        >
      </div>
      @if (isSource()) {
      <div class="p-2" [@dropDownMenu]>
        <div
          class="grid grid-cols-1 sm:gap-y-3 divide-y divide-gray-900/10 dark:divide-gray-400/30 sm:divide-y-0"
        >
          <div
            class="menu-item py-2 sm:py-0 items-center flex gap-1 text-gray-500"
          >
            <mat-icon class="material-symbols-rounded">nearby</mat-icon>
            <div
              class="ml-2 sm:ml-0 ticket_content-width flex-1 flex sm:items-center flex-col sm:flex-row"
            >
              <p
                class="flex-1 min-w-24 whitespace-nowrap overflow-hidden text-ellipsis pb-1 sm:pb-0"
              >
                Environment
              </p>
              <mat-form-field class="flex-[2] hint-none min-w-40">
                <mat-select [formControl]="environment">
                  @for(item of ['Developemnt', 'Stagging', 'Production'];
                  track item; let i = $index) {
                  <mat-option [value]="item">
                    <div class="flex justify-between w-40">
                      <span class="flex items-center space-x-2">
                        <span class="whitespace-nowrap">{{ item }}</span>
                      </span>
                    </div>
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <!-- <div
                class="text-gray-800 flex-[2] h-10 min-w-40 flex items-center sm:p-1.5 rounded hover:bg-gray-100/75"
              >
                {{ "Development" }}
              </div> -->
            </div>
          </div>
          <div
            class="menu-item py-2 sm:py-0 items-center flex gap-1 text-gray-500"
          >
            <mat-icon class="material-symbols-rounded"
              >add_location_alt</mat-icon
            >
            <div
              class="ml-2 sm:ml-0 ticket_content-width flex-1 flex sm:items-center flex-col sm:flex-row"
            >
              <p
                class="flex-1 min-w-24 whitespace-nowrap overflow-hidden text-ellipsis pb-1 sm:pb-0"
              >
                Clinic Name
              </p>
              <mat-form-field class="flex-[2] hint-none min-w-40">
                <mat-select [formControl]="clinic">
                  <div
                    class="px-2 pb-2 pt-2 -mt-2 border-b dark:border-gray-400/30 sticky -top-2 left-0 bg-inherit z-10"
                  >
                    <mat-form-field
                      class="hint-none w-full"
                      appearance="outline"
                    >
                      <input type="text" matInput placeholder="Search" />
                    </mat-form-field>
                  </div>
                  @for(item of ['clinic 1', 'clinic 2', 'clinic 3',
                  'clinic 4']; track item; let i = $index) {
                  <mat-option [value]="item">
                    <div class="flex justify-between w-40">
                      <span class="flex items-center space-x-2">
                        <span class="whitespace-nowrap">{{ item }}</span>
                      </span>
                    </div>
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <!-- <div
                class="text-gray-800 flex-[2] h-10 min-w-40 flex items-center sm:p-1.5 rounded hover:bg-gray-100/75"
              >
                {{ "xyz clinic" }}
              </div> -->
            </div>
          </div>
          <div
            class="menu-item py-2 sm:py-0 items-center flex gap-1 text-gray-500"
          >
            <mat-icon class="material-symbols-rounded">target</mat-icon>
            <div
              class="ml-2 sm:ml-0 ticket_content-width flex-1 flex sm:items-center flex-col sm:flex-row"
            >
              <p
                class="flex-1 min-w-24 whitespace-nowrap overflow-hidden text-ellipsis pb-1 sm:pb-0"
              >
                Area Of Issue
              </p>

              <mat-form-field class="flex-[2] hint-none min-w-40">
                <mat-select [formControl]="areaOfIssue">
                  <div
                    class="px-2 pb-2 pt-2 -mt-2 border-b dark:border-gray-400/30 sticky -top-2 left-0 bg-inherit z-10"
                  >
                    <mat-form-field
                      class="hint-none w-full"
                      appearance="outline"
                    >
                      <input type="text" matInput placeholder="Search" />
                    </mat-form-field>
                  </div>
                  @for(item of ['Assessment', 'Payment', 'Subscriptions',
                  'Questionarry']; track item; let i = $index) {
                  <mat-option [value]="item">
                    <div class="flex justify-between w-40">
                      <span class="flex items-center space-x-2">
                        <span class="whitespace-nowrap">{{ item }}</span>
                      </span>
                    </div>
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <!-- <div
                class="text-gray-800 flex-[2] h-10 min-w-40 flex items-center sm:p-1.5 rounded hover:bg-gray-100/75"
              >
                {{ "Assessments" }}
              </div> -->
            </div>
          </div>
          <div
            class="menu-item py-2 sm:py-0 items-center flex gap-1 text-gray-500"
          >
            <mat-icon class="material-symbols-rounded">Person</mat-icon>
            <div
              class="ml-2 sm:ml-0 ticket_content-width flex-1 flex sm:items-center flex-col sm:flex-row"
            >
              <p
                class="flex-1 min-w-24 whitespace-nowrap overflow-hidden text-ellipsis pb-1 sm:pb-0"
              >
                Person Name
              </p>
              <mat-form-field class="flex-[2] hint-none min-w-40">
                <input matInput type="text" [value]="'Clinic User'" />
              </mat-form-field>
              <!-- <div
                class="text-gray-800 flex-[2] h-10 min-w-40 flex items-center sm:p-1.5 rounded hover:bg-gray-100/75"
              >
                {{ "Clinic user" }}
              </div> -->
            </div>
          </div>
          <div
            class="menu-item py-2 sm:py-0 items-center flex gap-1 text-gray-500"
          >
            <mat-icon class="material-symbols-rounded">call</mat-icon>
            <div
              class="ml-2 sm:ml-0 ticket_content-width flex-1 flex sm:items-center flex-col sm:flex-row"
            >
              <p
                class="flex-1 min-w-24 whitespace-nowrap overflow-hidden text-ellipsis pb-1 sm:pb-0"
              >
                Person Phone
              </p>
              <mat-form-field class="flex-[2] hint-none min-w-40">
                <input matInput type="text" [value]="'+1-202-555-0194'" />
              </mat-form-field>
              <!-- <div
                class="text-gray-800 flex-[2] h-10 min-w-40 flex items-center sm:p-1.5 rounded hover:bg-gray-100/75"
              >
                {{ "+1-202-555-0194" }}
              </div> -->
            </div>
          </div>
          <div
            class="menu-item py-2 sm:py-0 items-center flex gap-1 text-gray-500"
          >
            <mat-icon class="material-symbols-rounded">mail</mat-icon>
            <div
              class="ml-2 sm:ml-0 ticket_content-width flex-1 flex sm:items-center flex-col sm:flex-row"
            >
              <p
                class="flex-1 min-w-24 whitespace-nowrap overflow-hidden text-ellipsis pb-1 sm:pb-0"
              >
                Person Email
              </p>
              <mat-form-field class="flex-[2] hint-none min-w-40">
                <input
                  matInput
                  type="text"
                  [value]="'clinicuser@csidryeye.com'"
                />
              </mat-form-field>
              <!-- <div
                class="text-gray-800 flex-[2] h-10 min-w-40 flex items-center sm:p-1.5 rounded hover:bg-gray-100/75"
              >
                {{ "clinicuser@csidryeye.com" }}
              </div> -->
            </div>
          </div>
          <div
            class="menu-item py-2 sm:py-0 items-center flex gap-1 text-gray-500"
          >
            <mat-icon class="material-symbols-rounded"
              >perm_phone_msg</mat-icon
            >
            <div
              class="ml-2 sm:ml-0 ticket_content-width flex-1 flex sm:items-center flex-col sm:flex-row"
            >
              <p
                class="flex-1 min-w-24 whitespace-nowrap overflow-hidden text-ellipsis pb-1 sm:pb-0"
              >
                Preferred Contact Via
              </p>
              <mat-form-field class="flex-[2] hint-none min-w-40">
                <mat-select [formControl]="PreferredContact">
                  @for(item of ['Email', 'Phone']; track item; let i =
                  $index) {
                  <mat-option [value]="item">
                    <div class="flex justify-between w-40">
                      <span class="flex items-center space-x-2">
                        <span class="whitespace-nowrap">{{ item }}</span>
                      </span>
                    </div>
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <!-- <div
                class="text-gray-800 flex-[2] h-10 min-w-40 flex items-center sm:p-1.5 rounded hover:bg-gray-100/75"
              >
                {{ "Email" }}
              </div> -->
            </div>
          </div>
          <div
            class="menu-item py-2 sm:py-0 items-center flex gap-1 text-gray-500"
          >
            <mat-icon class="material-symbols-rounded">timer</mat-icon>
            <div
              class="ml-2 sm:ml-0 ticket_content-width flex-1 flex sm:items-center flex-col sm:flex-row"
            >
              <p
                class="flex-1 min-w-24 whitespace-nowrap overflow-hidden text-ellipsis pb-1 sm:pb-0"
              >
                Time Of Issue
              </p>
              <mat-form-field class="flex-[2] hint-none min-w-40" >
                <!-- <input type="datetime-local"> -->
                <input #dateTime matInput type="datetime-local" 
                (focus)="dateTime.showPicker()" 
                (click)="dateTime.showPicker()" >
                <mat-icon class="material-symbols-rounded" matIconSuffix>event</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </div>        
      </div>
      }
    </div>
</div>
