<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
       <h1 class="mb-5 text-7xl tracking-tight font-extrabold lg:text-9xl text-blue-600 dark:text-blue-500">404</h1>
            <h1 class="mt-4 text-balance text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">Page not found</h1>
            <p class="mt-6 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">Sorry, we couldn’t find the page you’re looking for.</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a mat-flat-button class="shadow-sm" routerLink="/">
            <div class="text-sm font-semibold">
                Go back home
            </div>
        </a>
        <a mat-button>
            <div class="flex items-center">
                <span class="text-base font-semibold text-gray-900 mr-2">Contact support </span>
                <mat-icon class="material-symbols-rounded text-gray-900">arrow_right_alt</mat-icon>
            </div>
        </a>
      </div>
    </div>
  </main>